.listFormInput {
    width: 100%;
    background: #2D2D2D;
    border: none;
    font-size: 16px;
    padding: 5px 0;
    font-weight: normal;
    color: white;
}

.listWrapItem {
    background: #2D2D2D;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
}

.listWrapItemA {
    color: white;
}

/* PAGINATOR */

.listWrapPagination {
    margin: 0 auto;
    width: max-content;
}

.listWrapPagination li {
    display: inline;
}

.paginatorActive {
    color: #2D2D2D;
    font-weight: 700;
    cursor: default;
    text-decoration: underline;
}

.paginatorDisabled {
    color: #2D2D2D;
    cursor: default;
}
