@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

/** {
    border: 1px solid red;
}
*/

div, p, input, button, form, span, a, ul, li, pre, * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, button {
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: white;
}

body {
    background: #2D2D2D;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    transition-duration: 1s;
}

a:hover {
    color: #d32121;
    transition-duration: 1s;
}

button {
    width: fit-content;
    display: inline;
    background: none;
    font-weight: bold;
    text-align: center;
    padding: 5px 20px;
    margin: 0 0 0 auto;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 1s;
}

button:hover {
    background: #62E339;
    transition-duration: 1s;
}

input, textarea, select {
    color: white;
    display: block;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

audio {
    display: block;
    margin-bottom: 5px;
    width: 100%;
}

section {
    margin: 20px auto;
}

/* ALL PAGES */

.container {
    max-width: 90%;
    margin: 0 auto;
}

.typicalContainer {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
}

.header .container {
    max-width: none;
}

.headerWrap {
    padding: 0 5px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background: black;
}

.headerWrapLinkImg {
    height: 50px;
    background: white;
}

.status .container {
    background: #62E339;
    text-align: center;
    border: 1px solid white;
    font-weight: bold;
}

.statusError .container {
    background: #d32121;
    text-align: center;
    border: 1px solid white;
    font-weight: bold;
}
